{{extend 'layout.html'}}
<html lang ="en">
<head>
<link rel="stylesheet" href="{{=URL('static','css/aboutus.css')}}"/>
<script src="https://use.fontawesome.com/2a89db6bb1.js"></script>
</head>
<body>
<div class="jumbotron main">
  <div class="container">
  <h2>About HomeMe</h2>
  <p>HomeMe is an intuitive, simple, and easy-to-use web application
  that connects potential tenants to landlords using a network of
  profiles and property listings.</p>

  <p>
  <a href="https://github.com/lauleslie/homeme"><i class="fa fa-github"></i> Our Github repo</a>
  </p>

  <h2>The HomeMe Team</h2>
  <p>
    <ul>
      <li>Leslie Lau, PO & Frontend Developer</li>
      <li>Jason Chen, Backend Developer</li>
      <li>Andrew Johnson, QA & Junior Developer</li>
      <li>Josh Sibayan, Team Member</li>
      <li>Soham Saha, Team Member</li>
    </ul>
  </p>



  </div>
  </div>
</body>
</html>
