{{extend 'layout.html'}}

<div class="post_listing center">
{{if auth.user_id:}}

    <div class="post_list_header text-right">
        <a href="{{=URL('default', 'edit')}}" class="btn btn-warning">
            <i class="fa fa-plus"></i> New Post
        </a>
    </div>

{{else:}}

    <div class="post_list_header text-right">
        <a href="{{=URL('default', 'user', args=['login'])}}" class="btn btn-warning">Log In</a>
    </div>


{{pass}}

    <div class="post_list">
    {{for p in posts:}}
        <div class="post text-left">
            <!-- Here goes the code to display an individual post. The code below is just a placeholder. -->
            <h3>{{=p.post_content}}</h3>
            <div class="post_details text-left">
                Posted by: <strong>{{=username(p.user_email)}}</strong>
                at <em>{{=p.created_on.hour}}:{{=p.created_on.minute}}</em>

                {{if p.created_on == p.updated_on:}}
                    <em>on {{=p.created_on.month}}/{{=p.created_on.day}}/{{=p.created_on.year}}</em>

                {{else:}}
                    <br> and edited
                    {{=p.updated_on.hour}}:{{=p.updated_on.minute}} on
                    {{=p.updated_on.month}}/{{=p.updated_on.day}}/{{=p.updated_on.year}}
                {{pass}}

                <!-- {{if p.created_on != p.updated_on:}}
                    Edited on {{=p.updated_on.hour}}:{{=p.updated_on.minute}}
                    {{=p.updated_on.month}}/{{=p.updated_on.day}}/{{=p.updated_on.year}}
                {{pass}}
                -->

                {{if auth.user is not None:}}
                    {{if p.user_email == auth.user.email:}}
                        | <a href="{{=URL('default', 'edit', args=[p.id], vars=dict(edit='true'))}}">
                            Click to edit
                        </a>
                    {{pass}}
                {{pass}}
            </div>
        </div>
    {{pass}}
    </div>

</div>
