{{extend 'layout.html'}}
<link rel="stylesheet" href="{{=URL('static','css/profile.css')}}"/>
<div class="navbar">
    <div class="logo">
        <img src="http://i.imgur.com/yRFFTxA.jpg" height="50px"/>
    </div>

    <nav>
        <a href="{{=URL('default', 'aboutus')}}">About Us</a>
        {{if auth.user_id:}}
        <a href="{{=URL('default', 'profile')}}">Profile</a>
        <a href="{{=URL('default', 'index')}}">Postings</a>
        <a href="{{=URL('default', 'user', args=['logout'])}}">Logout</a>
        {{else:}}
        <a href="{{=URL('default', 'user', args=['login'])}}"> Login</a>
        {{pass}}
    </nav>
</div>
<title>MY PROFILE</title>

<div class="my profile">
{{pass}}
    <div class="profile">
      <div class="profilecard">
        <h1> {{=user.first_name}} {{=user.last_name}}'s profile</h1>
        {{=crud.read(db.auth_user,user)}}

        <a href="{{=URL('default', 'user', args=['profile'])}}" class="btn btn-info" role="button">
	   		Edit Profile
	    </a>

      <a href="{{=URL('default', 'index')}}" class="btn btn-warning">
          HOME
      </a>

    </div>


        <!-- dedass -->


  {{pass}}
    </div>

</div>
<!-- <div class="go_to_index text-center">
    <a href="{{=URL('default', 'index')}}" class="btn btn-warning">
        HOME
    </a>
</div>

-->
