{{extend 'layout.html'}}
<h2>Advance Searching</h2>
{{=form}}

{{if people:}}
<h3>Results</h3>
<table>
   {{for user in people:}}
   <td>{{=A(name_of(user), _href=URL('profile',args=user.id))}}</td>

   {{pass}}
</table>
{{pass}}


<a1>Search in a Map</a1>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>

<script src="{{=URL('static','js/gmaps.js')}}"></script>
<div>


{{=form1}}
</div>
{{if longitude or latitude:}}
	<p>latitude, longtitude: {{=latitude}},{{=longitude}}</p>
	<div id="map" style="height:400px;width:800px"></div>
	<script>
	$(document).ready(function(){
	  map = new GMaps({
	    div: '#map',
	    lat: {{=latitude}},
	    lng: {{=longitude}}
	  });
	   map.addMarker({
	    lat: {{=latitude}},
	    lng: {{=longitude}},
	    title: 'Here!',
	    infoWindow: {
	        content: '<p>{{=request.vars.search}}</p>'
	    }
	  });
	});
	</script>
{{pass}}