<link rel="stylesheet" href="{{=URL('static','css/splash.css')}}"/>

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    // All URLs go here
</script>
{{end}}

<div class="main_content">
    <header>
        <!--<div class="logo"> <img src="http://i.imgur.com/yRFFTxA.jpg" height="40px"/> HomeMe</div>-->
        <div>
         
        </div>
        <nav>
            <a href="/">About Us</a>
            <a href="{{=URL('default', 'user', args=['login'])}}"> Get Started</a>
            <a href="{{=URL('default', 'profile')}}">Profile</a>
            <a href="{{=URL('default', 'user', args=['logout'])}}">Logout</a>
        </nav>
        <h1>Clever sales pitch goes here</h1>
        <p class="caption"></p>
        <div class="button_container">
            <a href="{{=URL('default', 'user', args=['login'])}}" class="btn btn-lg signup_button">
                Get Started
            </a>
        </div>
    </header>
</div>
