{{extend 'layout.html'}}

<form>
	First name:<br>
	<input type="text" name="firstname">
	<br>
	Last name:<br>
	<input type="text" name="lastname">
	<br>
	Email:<br>
	<input type="email" name="email">
	<br>
	Telephone No.:<br>
	<input type="tel" name="tele">
	<br>
	

	Images:<br>
	<input type="file" name="pics" accept= "image/*">
	<br>
	Address:<br>
	<input type="text" name="addr">
	<br>
	City:<br>
	<input type="text" name="ciudad">
	<br>
	State:<br>
	<input type="text" name="elstato" maxlength="2">
	<br>
	Zipcode:<br>
	<input type="text" name="elzip" maxlength="5">
	<br>

	Square footage:<br>
	<input type="text" name="sqft">
	<br>
	Number of bedrooms:<br>
	<input type="text" name="losbeds">
	<br>
	Bed/Bath count:<br>
	<input type="text" name="elbbnum">
	<br>

	Has Washer/Dryer?
	<input type="checkbox" name="washdry">
	<br>
	Is furnished?
	<input type="checkbox" name="furn">
	<br>
	Pets Allowed?
	<input type="checkbox" name="pets">
	<br>

	Additional Notes:<br>
  	<input type="text" name="addr" style="width: 500px; height: 300px">
  	<br>

  	<input type="submit" value="Submit">


</form>