body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px;
  background: url('https://i.ytimg.com/vi/v1SabYdIlZI/maxresdefault.jpg');
  background-size: cover;
}

.accountContainer {
  background-color: #FFF;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding:15px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-top: 10px solid #88A087;
  overflow-x: hidden;
}

#post_post_content__label{
  transform: translate(25%);
}

#post_min_budget__label{
  transform: translate(25%);
}

#post_max_budget__label{
  transform: translate(25%);
}

#post_number_of_people__label{
  transform: translate(25%);
}

#post_description__label{
  transform: translate(25%);
}
#post_post_content{
  width:70%;
  height:25%;
  transform: translate(15%);
}

#post_min_budget{
  width:70%;
  transform: translate(15%);
}

#post_max_budget{
  width:70%;
  transform: translate(15%);
}

#post_number_of_people{
  width:70%;
  transform: translate(15%);
}

#post_description{
  width:70%;
  transform: translate(15%);
}

#submit_record__row{
  transform: translate(34%);
}

.navbar {
    background-color: #eeeeee;
    border: solid #cccccc;
    border-width: 1px;
}

.navbar .logo {
    float: left;
    margin: 15px 0 0 0px;
    display: inline-block;
    color: dimgray;
    font-size: 20px;
    padding: 0.2em 0.5em;
    letter-spacing: 0.15em;
}

.navbar nav {
    float: right;
    margin: 30px 30px 0 0;
}

.navbar nav a {
    display: inline-block;
    margin-left: 20px;
    color: dimgray;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar nav a:hover {
    text-decoration: none;
}


.navbar .logo {
    float: left;
    margin: 15px 0 0 10px;
    display: inline-block;
    color: white;
    font-size: 20px;
    padding: 0.2em 0.5em;
    letter-spacing: 0.15em;
}

.navbar nav {
    float: right;
    margin: 30px 30px 0 0;
}

.navbar nav a {
    display: inline-block;
    margin-left: 20px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar nav a:hover {
    color: #fff;
    text-decoration: none;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
