body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px;
  background: url('https://i.ytimg.com/vi/v1SabYdIlZI/maxresdefault.jpg');
  background-size: cover;
}

.accountContainer {
  background-color: #FFF;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding:15px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-top: 10px solid #88A087;
  overflow-x: hidden;
}

#post_post_content__label{
  transform: translate(25%);
}

#post_min_budget__label{
  transform: translate(25%);
}

#post_max_budget__label{
  transform: translate(25%);
}

#post_number_of_people__label{
  transform: translate(25%);
}

#post_description__label{
  transform: translate(25%);
}
#post_post_content{
  width:70%;
  height:25%;
  transform: translate(15%);
}

#post_min_budget{
  width:70%;
  transform: translate(15%);
}

#post_max_budget{
  width:70%;
  transform: translate(15%);
}

#post_number_of_people{
  width:70%;
  transform: translate(15%);
}

#post_description{
  width:70%;
  transform: translate(15%);
}

#submit_record__row{
  transform: translate(34%);
}
