body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px;
  background: url('https://static.pexels.com/photos/295168/pexels-photo-295168.jpeg');
  background-size: cover;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px !important;
}

p {
  text-align: center;
}

.accountContainer {
  background-color: #FFF;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding:15px;
  margin-top: 25px;
  margin-bottom: 25px;
  overflow-x: hidden;
}

.btn {
  background-color: #88A087 !important;
  border-radius: 10px;
}

.btn:hover {
  box-shadow: none !important;
}

form {
  width: auto;
}
