body {
font-family: 'Open Sans', sans-serif !important;
}

a {
  color: #88A087;
}

a:hover {
  text-decoration: none;
  color: #96ab95;
}

form {
  width: 50%;
}

.profilesearch {
  background-color: #eee;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 100px;
}

.btn {
  background-color: #88A087 !important;
  border-radius: 0px;
}

.btn:hover {
  box-shadow: none !important;
}

/* table row numbering */
/* courtesy of http://stackoverflow.com/questions/35862715/create-html-table-with-increment-number-of-column */
table {
    counter-reset: rowNumber;
}

table tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}
.post_list1 {
  padding: 30px;
}

.post1 {
  border-bottom: 1px solid #eee;
  padding: 30px;
  padding-bottom: 30px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.thingy {
  display: inline-block;
  padding: 20px;
  width: 250px;
  height: auto;
  background-color: #fff;
}

.thingy img {
  width: 200px !important;
  align-self: center;
}

.postedby {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
  margin-bottom: auto;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

div.tab {
    overflow: hidden;
    align-content: center;
    margin-top: 10px;
    margin-left: 10px;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: #ddd !important;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 10px;
    border-radius: 0px !important;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #88A087 !important;
}
