body {
  font-family: 'Open Sans', sans-serif !important;
}

a {
  text-decoration: none;
}

.navbar {
    background-color: #eeeeee;
    border: solid #cccccc;
    border-width: 1px;
}

.navbar .logo {
    float: left;
    margin: 15px 0 0 0px;
    display: inline-block;
    color: dimgray;
    font-size: 20px;
    padding: 0.2em 0.5em;
    letter-spacing: 0.15em;
}

.navbar nav {
    float: right;
    margin: 30px 30px 0 0;
}

.navbar nav a {
    display: inline-block;
    margin-left: 20px;
    color: dimgray;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar nav a:hover {
    text-decoration: none;
}

header {
    height: 100%;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)
        ),
        url(https://static.pexels.com/photos/277559/pexels-photo-277559.jpeg)
        no-repeat center center;
    background-size: cover;
}

header .logo {
    float: left;
    margin: 15px 0 0 30px;
    display: inline-block;
    color: white;
    font-size: 20px;
    padding: 0.2em 0.5em;
    letter-spacing: 0.15em;
}

header nav {
    float: right;
    margin: 30px 30px 0 0;
}

header nav a {
    display: inline-block;
    margin-left: 20px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

header nav a:hover {
    color: #fff;
    text-decoration: none;
}

header h1 {
    text-align: center;
    font-size: 72px;
    color: white;
    clear: both;
    padding-top: 100px;
}

header h1 span {
    display: inline-block;
    padding: 0.2em 0.5em;
    text-shadow: none;
    margin-bottom: 20px;
}

header .caption {
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.1em;
    color: #eeeeee;
    line-height: 1;
}

header .button_container {
    margin-top: 40px;
}

header .signup_button {
    background-color: #88A087;
    border-radius: 10px;
    display:block;
    width:200px;
    margin:0 auto;
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.1em;
    color: #eeeeee;
    line-height: 2.5;
    text-transform: inherit;
}

header .signup_button:hover {
  background-color: #96ab95;
}
